/* uwu hentai sign */

@font-face {
	font-family: 'fontcustom';
	src: url(/gui/fontcustom.woff);
}

:root { 
  font-family: 'fontcustom';
  --primary-color: rgba(0, 0, 0, 0.9); 
  --secondary-color: rgb(255, 255, 255)255); 
}

html {
  overflow: hidden;
  font-family: 'fontcustom';
  font-family: monospace;
}

body {
  font-family: 'fontcustom';
  font-family: 'Roboto', sans-serif;
}

.uwu-hentai-ecran-complet {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.container {
  position: relative;
  width: 1300px;
  font-family: 'fontcustom';
  height: 600px;
  color: var(--primary-color);
  box-shadow: 0 15px 0 0 rgba(0, 0, 0, 0.9) inset;
  border-bottom: ;
  background-image: linear-gradient(to right, rgba(0, 255, 242, 0.3), rgba(0, 0, 0, 0.1));
  border-bottom: 10px solid rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 56px 20px;
  text-transform: uppercase;
}

.uwu-inchide {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  font-family: 'fontcustom';
  height: 40px;
  color: rgba(0, 255, 242, 0.9);
  background-color: transparent;
  outline: none;
  border: none;
}

.uwu-inchide:hover {
  color: var(--secondary-color);
}

#uwucasa h1 {
  text-align: center;
  font-size: 60px;
  -webkit-animation: uwucasa 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: uwucasa 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  -webkit-animation: uwu-bataie 1.5s ease-in-out infinite both;
  animation: uwu-bataie 1.5s ease-in-out infinite both;
}

#uwucasa2 h1 {
  text-align: center;
  font-size: 40px;
  -webkit-animation: uwucasa2 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: uwucasa2 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#uwucasa h1:hover{
	-webkit-animation: uwu-dans 0.8s both;
	        animation: uwu-dans 0.8s both;
}

#uwucasa2 h1:hover{
  -webkit-animation: uwu-vibratie 0.3s linear infinite both;
  animation: uwu-vibratie 0.3s linear infinite both;
}

/* BUTOANE INTERACTIVE */
#uwubutondiscord{
  position: absolute;
  left: 1150px;    
  border: none;
  top: 650px;
  height: 35px;
  width: 35px;
  background:url('https://i.imgur.com/Umqvi2g.png') no-repeat left center ;
  background-size: cover;
  animation: uwu-animatiebutonase 0.6s infinite;
}

#uwubutonip{
  position: absolute;
  left: 1250px;    
  border: none;
  top: 650px;
  height: 35px;
  width: 35px;
  background:url('http://www.free-icons-download.net/images/ip-icon-60511.png') no-repeat left center ;
  background-size: cover;
  animation: uwu-animatiebutonase 0.6s infinite;
}

#uwuhentai{
  position: absolute;
  left: 1050px;    
  border: none;
  top: 650px;
  height: 35px;
  width: 35px;
  background:url('https://i.imgur.com/4CLx7KB.png') no-repeat left center ;
  background-size: cover;
  animation: uwu-animatiebutonase 0.6s infinite;
}

#uwubutondiscord:hover{
  -webkit-animation: uwu-animatie-butonase 0.9s both;
  animation: uwu-animatie-butonase 0.9s both;
}

#uwubutonip:hover{
  -webkit-animation: uwu-animatie-butonase 0.9s both;
  animation: uwu-animatie-butonase 0.9s both;
}

#uwuhentai:hover{
  -webkit-animation: uwu-animatie-butonase 0.9s both;
  animation: uwu-animatie-butonase 0.9s both;
}




















































































































































































































































































































































































































































































































































/* animatiii */

@-webkit-keyframes uwucasa {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes uwucasa {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes uwucasa2 {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes uwucasa2 {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes uwu-saritura {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@-webkit-keyframes uwu-bataie {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes uwu-bataie {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



@-webkit-keyframes uwu-dans {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes uwu-dans {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}

@-webkit-keyframes uwu-vibratie {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes uwu-vibratie {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes uwu-animatiebutonase {
  0%{opacity: 0.5;}
  50%{opacity: 1;}
  100%{opacity: 0.5;}
}

@-webkit-keyframes uwu-animatie-butonase {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes uwu-animatie-butonase {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}





